.sidebar{
    padding: 10px;
    background-color: #f8f9fa;
    border-right: 1px solid #ddd;
}

.inputsidebar{
    width: 70%; 
    background-color: #fff; 
    color: #000;
}

.color-scale {
    display: flex;
    align-items: center;
}

.color-scale-label {
    margin: 0 10px;
    font-size: 14px;
}

.color-scale-bar {
    display: flex;
    height: 20px;
    width: 100%;
}

.color-step {
    flex: 1;
    height: 100%;
}
