.header {
    background-color: #fe7018;
    color: #000;
    padding: 2rem 1rem;
    position: relative;
    width: 100%;
    transition: padding 0.5s, background-color 0.5s, color 0.5s;
}
  
.header.sticky {
    background-color: white;
    color: #444;
    padding: 1rem 1rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}
  
.header h1 {
    margin: 0;
}
  
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.navbar .nav-link {
    color: #000;
    font-size: 20px!important;
    transition: 0.5s all ease;
}

.brand-image {
    display: block;
    max-width: 100%;
    height: auto;
}

.white-filter {
    filter: brightness(0) ;
}
  
.header.sticky .navbar .nav-link {
    color: #444;
    font-size: 15px!important;
    transition: 0.5s all ease;
}

.header.sticky .brand-image {
    width: 170px;
}

.header.sticky .navbar .nav-link:hover{
    text-decoration: none;
    border-bottom: 3px solid #fe7018;
    color: #fe7018!important;
}
  
.navbar .nav-link:hover {
    text-decoration: none;
    border-bottom: 3px solid #000;
    color: #000!important;
}

.navbar .dropdown-menu {
    background-color: #fff; 
    border: none;
    margin-top: -10px;
    padding: 0;
}
  
.navbar .dropdown-menu .dropdown-item {
    color: #000;
    padding: 10px 20px;
}
  
.navbar .dropdown-menu .dropdown-item:hover {
    background-color: transparent; 
    color: #fe7018; 
}

.header.sticky{
    box-shadow: 1px 1px 1px #ccc;
}

.redes{
    display: flex;
    justify-content: end;
    align-items: center;
}

.redes a{
    color: #000!important;
}

.redes a:last-child{
    padding: 10px 15px;
    border: 1px solid #000;
    border-radius: 50%;
}

.redes-sticky a{
    color: #444!important;
    transition: 0.5s all ease;
}

.redes-sticky a:last-child{
    padding: 10px 15px;
    border: 1px solid #000;
    border-radius: 50%;
}

.redes-sticky a:hover{
    text-decoration: none;
    border-bottom: 3px solid #fe7018;
    color: #fe7018!important;
}

/* Responsive styles */
@media (max-width: 767.98px) {
    .order-md-1 {
      order: 1;
    }
  
    .order-md-2 {
      order: 3;
    }
  
    .order-md-3 {
      order: 2;
    }
}